{{!-- Page Content --}}
<div class="container" id="mainDiv">
   <h1 class="title">foodie</h1>
   <div class="triangle"></div>
</div>
<div class="eggpic"></div>
<div class="title1">
   cook more
</div>
<div class="title2">
   love more
</div>
<div class="line1"></div>
<div class="line2"></div>
<div id="getstarted">
   <p class="about">
      click get started and choose your 
      cooking experience level and 
      explore yummy curated recipes
   </p>
</div>
<div class="line3"></div>
<div class="line4"></div>
<div class="line5"></div>
<div class="line6"></div>
<div class="line7"></div>
<div class="line8"></div>
<div class="line9"></div>
<div class="started">
   <div class="button" id="startedBtn">
      <button type="button" class="btn btn-warning">
         <p class="buttonfont">
            GET STARTED 
         </p>
      </button>
   </div>
</div>